@media screen and (max-width:1500px) {
    
    /* Fixes the Hero Section Image at smaller screen size. */
    #hero .image {
        display: none;
    }

   

    .bio {
        display:block;
        margin-bottom: 15px;
        border: 2px solid red;
        width: 100%;
        
    }

    #hero {
        grid-template-columns: 1fr;
    }

}



