@media screen and (max-width:1500px) {
    
    /* Fixes the Hero Section Image at smaller screen size. */
    #hero .image {
        display: none;
    }

    #hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        padding: 30px;
        width: 100vw;
        
    }

    .bio {
        display:block;
        margin-bottom: 15px;
        border: 2px solid red;
        width: 100%;
        
    }

}



