@font-face {
    font-family: 'calibre';
    src: url('./assets/CalibreRegular.otf') format('woff');
    font-weight: 600;
    font-style: normal;
  }

@font-face {
    font-family: 'sfmono';
    src: url('./assets/SFMonoRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Default Configuration */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3 {
    font-family: 'calibre', sans-serif;
}

p, li {
    font-family: 'sfmono', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'sfmono', sans-serif;
}

/* Utility Classes */
.pointer:hover {
    cursor: pointer;
}

.bg-dark {
    background-color: #0a192f;
}

.highlight {
    color: #52d4b9;
}

.feature-text, a {
    color: #ccd6f6;
}

.sub-text {
    color: #8892b0;
}

.p1 {
    padding: 10px;
}

.p2 {
    padding: 20px;
}

/* Nav CSS */

nav {
    padding: 20px 50px;
}

.nav-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #0b1930;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.logo img {
    height: 50px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
}

.nav-links ul {
    display: flex;
    list-style-type: none;    
    align-items: center;
    
}

.nav-links ul li span {
    color: #52d4b9;
    margin-right: 5px;
}

.nav-links ul li {
    display: flex;
    padding-right: 40px;
}

.nav-links ul li:hover {
    text-decoration: underline;
}

/* Body */


#hero {
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    max-width:80%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;    
}


#hero .text p {
    font-size: clamp(18px, 2vw, 22px);
    line-height: 18px;
    margin: 0 0 60px 4px;
}

#hero .text h1 {
    font-size: clamp(1rem + 5vw, 1rem + 10vw, 7rem);
    line-height: 68px;
    white-space: nowrap;
    margin-bottom: 20px;
}

#hero .text h2 {
    font-size: clamp(1rem + 4vw, 1rem + 8vw, 7rem);
    line-height: 1.1;
    white-space: nowrap;
}

#hero .info .social a {
    text-decoration: underline;
    padding-right: 20px;
}

#hero .info button {
    border: 1px solid #52d4b9;
    color: #52d4b9;
    background: none;
    padding: 20px;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#hero .image {
    display: flex;
    margin-left: 30px;
    align-self: flex-start;
}
#hero .image img {
    max-width: 100%;
    border-radius: 50%;  
}

/* Marquee */

.marquee {
    position: relative;
    margin-top: 50px;
    padding: 20px;
    overflow: hidden;
    width: 40rem;
    display: flex;
    border-bottom: #8892b0;
}

.marquee-content {
    display: flex;
    list-style-type: none;
    gap: 10rem;
    animation: 30s scrolling infinite linear;  
}

.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 5rem;
    height: 100%;
    content: '';
    z-index: 1;
}

.marquee:before {
    left: 0;
    background: linear-gradient(to right, #0a192f 0%, transparent 100%);
}

.marquee:after {
    right: 0;
    background: linear-gradient(to left, #0a192f 0%, transparent 100%);
}


.marquee-content li i, .marquee-2 li i {
    font-size: 60px;
    color:#8892b0;
    opacity: .7;
}

@keyframes scrolling {
    0% {transform: translateX(40rem);}
    100% {transform: translateX(-105%);}
}








 

